:root {
  font-size: 62.5%;
}

:root body {
  margin: 0;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
span,
h1,
h2,
h3,
p {
  font-family: "Lato", sans-serif;
}

input {
  outline: none;
  border: none;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
}

body .hero {
  height: 100%;
  background-image: url("../../UI/images/hero2.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero .wrapper .logo {
  font-size: 4rem;
  margin: 1rem;
}

@media (min-width: 700px) {
  body .hero .wrapper .logo {
    font-size: 6rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  body .hero .wrapper .logo {
    font-size: 7rem;
    margin: 3rem;
  }
}

body .hero .wrapper .menu-btn,
body .hero .wrapper .order-btn {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  width: 50%;
  margin: 0.5rem;
  border-radius: 5px;
}

@media (min-width: 700px) {
  body .hero .wrapper .menu-btn,
  body .hero .wrapper .order-btn {
    width: 35%;
    margin: 0.75rem;
  }
}

@media (min-width: 1024px) {
  body .hero .wrapper .menu-btn,
  body .hero .wrapper .order-btn {
    width: 30%;
    margin: 1rem;
  }
}

body .hero .wrapper .menu-btn {
  background: #fac564;
  border: 1px solid #fac564;
  color: #000;
}

body .hero .wrapper .order-btn {
  border: 1px solid #fff;
  color: #fff;
}

.cover-login {
  width: 100%;
  margin: 0 auto;
}

.cover-login .container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-image: url("../../UI/images/bg_1.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-login .container-login .wrap-login {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 2rem 7rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 700px) {
  .cover-login .container-login .wrap-login {
    width: 70%;
    padding: 0 5rem 7rem;
  }
}

@media (min-width: 1024px) {
  .cover-login .container-login .wrap-login {
    width: 50%;
    padding: 0 7rem 7rem;
  }
}

.login-form {
  width: 100%;
}

.login-form .login-form-title {
  font-size: 4rem;
  margin: 1rem;
  color: #000;
  text-align: center;
  padding: 3rem 1rem 5rem;
}

@media (min-width: 700px) {
  .login-form .login-form-title {
    font-size: 5rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .login-form .login-form-title {
    font-size: 6rem;
    margin: 0 0 0 3rem;
  }
}

.login-form .input {
  color: #000;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  border-bottom: 2px solid #ebb0b0;
  margin-bottom: 37px;
}

.login-form .login-form-btn {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fac564;
  border: 1px solid #fac564;
  border-radius: 5px;
}

.login-form .text-signup {
  text-align: center;
  padding-top: 10rem;
}

.login-form .text-signup .txt1,
.login-form .text-signup .txt2 {
  color: #000;
  line-height: 1.5;
}

.login-form .text-signup .txt2 {
  text-decoration: none;
  color: brown;
}

.menu-cover {
  width: 100%;
  margin: 0 auto;
}

.menu-cover .menu-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../UI/images/bg_1.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: repeat;
}

.menu-cover .menu-container .menu-title {
  font-size: 3rem;
  margin: 1rem;
  text-align: left;
  padding: 3rem 1rem 5rem;
}

@media (min-width: 700px) {
  .menu-cover .menu-container .menu-title {
    font-size: 4rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu-cover .menu-container .menu-title {
    font-size: 5rem;
    margin: 0 0 0 3rem;
  }
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 700px) {
  .menu-wrap {
    margin-left: 3rem;
  }
}

@media (min-width: 1024px) {
  .menu-wrap {
    margin: 0 3rem 0 4rem;
  }
}

.menu-wrap .meal {
  width: 100%;
  height: 35rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 700px) {
  .menu-wrap .meal {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 1024px) {
  .menu-wrap .meal {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.menu-wrap .meal .meal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.menu-wrap .meal .meal-wrap .meal-header {
  font-size: 2.5rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
}

.menu-wrap .meal .meal-wrap .meal-image {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-wrap .meal .meal-wrap .meal-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.meal-1 .meal-image {
  background-image: url("../../UI/images/food_1.jpg");
}

.meal-2 .meal-image {
  background-image: url("../../UI/images/food_2.jpg");
}

.meal-3 .meal-image {
  background-image: url("../../UI/images/food_3.jpg");
}

.meal-4 .meal-image {
  background-image: url("../../UI/images/food_4.jpg");
}

.meal-5 .meal-image {
  background-image: url("../../UI/images/food_5.jpg");
}

.meal-6 .meal-image {
  background-image: url("../../UI/images/food_6.jpg");
}
/*# sourceMappingURL=main.css.map */