:root {
  font-size: 62.5%;
}
:root body {
  margin: 0;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$colors: (
  primary: #fff,
  secondary: #000,
  button1: #fac564,
  button2: #4caf50,
  link: brown,
  link-light: lighten(brown, 40%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$tablet: 700px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

$desktop: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body,
span,
h1,
h2,
h3,
p {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

body,
html {
  height: 100vh;
}

//footer

.footer {
  background: color(link);
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  color: color(primary);

  .hero {
    height: 100%;
    background-image: url("../../UI/images/hero2.jpg");
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      .logo {
        font-size: 4rem;
        margin: 1rem;

        @include tablet {
          font-size: 6rem;
          margin: 2rem;
        }

        @include desktop() {
          font-size: 7rem;
          margin: 3rem;
        }
      }

      .menu-btn,
      .order-btn {
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
        padding: 0.5rem;
        width: 50%;
        margin: 0.5rem;
        border-radius: 5px;

        @include tablet {
          width: 35%;
          margin: 0.75rem;
        }

        @include desktop() {
          width: 30%;
          margin: 1rem;
        }
      }
      .menu-btn {
        background: color(button1);
        border: 1px solid color(button1);
        color: color(secondary);
      }
      .order-btn {
        border: 1px solid color(primary);
        color: color(primary);
      }
    }
  }
}

.cover-login {
  width: 100%;
  margin: 0 auto;

  .container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url("../../UI/images/bg_1.jpg");
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .wrap-login {
      width: 90%;
      background: color(primary);
      border-radius: 10px;
      overflow: hidden;
      padding: 0 2rem 7rem;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

      @include tablet {
        width: 70%;
        padding: 0 5rem 7rem;
      }

      @include desktop() {
        width: 50%;
        padding: 0 7rem 7rem;
      }
    }
  }
}

.login-form {
  width: 100%;

  .login-form-title {
    font-size: 4rem;
    margin: 1rem;
    color: #000;
    text-align: center;
    padding: 3rem 1rem 5rem;

    @include tablet {
      font-size: 5rem;
      margin: 2rem;
    }

    @include desktop() {
      font-size: 6rem;
      margin: 0 0 0 3rem;
    }
  }

  .input {
    color: color(secondary);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
    border-bottom: 2px solid color(link-light);
    margin-bottom: 37px;
  }

  .login-form-btn {
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: color(button1);
    border: 1px solid color(button1);
    border-radius: 5px;
  }

  .text-signup {
    text-align: center;
    padding-top: 10rem;

    .txt1,
    .txt2 {
      color: color(secondary);
      line-height: 1.5;
    }

    .txt2 {
      text-decoration: none;
      color: color(link);
    }
  }
}

.menu-cover {
  width: 100%;
  margin: 0 auto;

  .menu-container {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../UI/images/bg_1.jpg");
    opacity: 0.8;
    background-position: center;
    background-repeat: repeat;

    .menu-title {
      font-size: 3rem;
      margin: 1rem;
      text-align: left;
      padding: 7rem 1rem 5rem;

      @include tablet {
        font-size: 4rem;
        margin: 2rem;
      }

      @include desktop() {
        font-size: 4rem;
        margin: 0 0 0 3rem;
      }
    }
  }
}

.menu-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @include tablet {
    margin-left: 3rem;
  }

  @include desktop() {
    margin: 0 3rem 0 4rem;
  }

  .meal {
    width: 100%;
    height: 35rem;
    margin: 1rem;
    background-color: color(primary);
    border-radius: 5px;
    flex-basis: 100%;

    @include tablet {
      flex-basis: 45%;
    }

    @include desktop() {
      flex-basis: 30%;
    }

    .meal-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      .meal-header {
        font-size: 2.5rem;
        padding: 1rem;
        flex: 1;
        color: color(secondary);
      }

      .meal-image {
        flex: 3;
        width: 100%;
        height: 20rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .meal-footer {
        flex: 1;
      }
    }
  }
}

.meal-1 .meal-image {
  background-image: url("../../UI/images/food_1.jpg");
}

.meal-2 .meal-image {
  background-image: url("../../UI/images/food_2.jpg");
}

.meal-3 .meal-image {
  background-image: url("../../UI/images/food_3.jpg");
}

.meal-4 .meal-image {
  background-image: url("../../UI/images/food_4.jpg");
}

.meal-5 .meal-image {
  background-image: url("../../UI/images/food_5.jpg");
}

.meal-6 .meal-image {
  background-image: url("../../UI/images/food_6.jpg");
}

//checkout page

.checkout-cover {
  color: color(secondary);
  margin-top: 8rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto 5);
  grid-template-areas:
    "title"
    "delivery_info"
    "food_img"
    "amount_summary"
    "payment_info";

  @include tablet {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas:
      "title title"
      "delivery_info delivery_info"
      "food_img amount_summary"
      "payment_info payment_info";
  }

  @include desktop() {
    display: grid;
    grid-template-columns: 30% 20% 30%;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas:
      "title title title"
      "delivery_info delivery_info payment_info"
      "food_img amount_summary payment_info"
      "food_img amount_summary payment_info";
  }

  .checkout-title {
    grid-area: title;
  }

  .checkout-delivery-info {
    grid-area: delivery_info;
  }

  .checkout.food.image {
    grid-area: food_img;

    .checkout.food.img {
      background-image: url("../../UI/images/food_1.jpg");
      height: 20rem;
    }
  }

  .checkout-amount-summary {
    grid-area: amount_summary;

    span.price {
      float: right;
    }
  }

  .checkout-payment-info {
    grid-area: payment_info;
  }

  .checkout-title,
  .checkout-delivery-info,
  .checkout.food.image,
  .checkout-amount-summary,
  .checkout-payment-info {
    padding: 0 1.6rem;
    margin: 1.6rem 0;
  }
}

// Forms

.container {
  background-color: #f2f2f2;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 3px;

  .form {
    .wrap {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
        display: block;
      }

      input[type="text"] {
        //   width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .btn {
        background-color: color(button2);
        color: color(primary);
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }

      .btn:hover {
        background-color: color(button1);
      }
    }
  }
}

//credit card icons

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;

  .fa.fa-cc-visa {
    color: navy;
  }

  .fa.fa-cc-amex {
    color: blue;
  }

  .fa.fa-cc-mastercard {
    color: red;
  }

  .fa.fa-cc-discover {
    color: orange;
  }
}

.img {
  background-repeat: no-repeat;
}

//order page

.order-cover {
  color: color(secondary);
  margin-top: 8rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto 5);
  grid-template-areas:
    "food_img"
    "amount_summary"
    "payment_info";

  @include tablet {
    width: 70%;
  }

  @include desktop() {
    width: 50%;
  }

  .order.food.image {
    grid-area: food_img;

    .order.food.img {
      background-image: url("../../UI/images/food_1.jpg");
      height: 20rem;
    }
  }

  .order-amount-summary {
    grid-area: amount_summary;

    span.price {
      float: right;
    }
  }

  .order-payment-info {
    grid-area: payment_info;
  }

  .order.food.image,
  .order-amount-summary,
  .order-payment-info {
    padding: 0 1.6rem;
    margin: 1.6rem 0;
  }
}

//confirmation page

.confirmation-cover {
  color: color(secondary);
  margin-top: 8rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto 5);
  grid-template-areas:
    "title"
    "food_img"
    "amount_summary"
    "delivery_info";

  @include tablet {
    width: 70%;
  }

  @include desktop() {
    width: 50%;
  }

  .confirmation-title {
    grid-area: title;
  }

  .confirmation.food.image {
    grid-area: food_img;

    .confirmation.food.img {
      background-image: url("../../UI/images/food_1.jpg");
      height: 20rem;
    }
  }

  .confirmation-amount-summary {
    grid-area: amount_summary;

    span.price {
      float: right;
    }
  }

  .confirmation-delivery-info {
    grid-area: delivery_info;
  }

  .confirmation-title,
  .confirmation.food.image,
  .confirmation-amount-summary,
  .confirmation-delivery-info {
    padding: 0 1.6rem;
    margin: 1.6rem 0;
  }
}
