:root {
  font-size: 62.5%;
}

:root body {
  margin: 0;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
span,
h1,
h2,
h3,
p {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

body,
html {
  height: 100vh;
}

.footer {
  background: brown;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  color: #fff;
}

body .hero {
  height: 100%;
  background-image: url("../../UI/images/hero2.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero .wrapper .logo {
  font-size: 4rem;
  margin: 1rem;
}

@media (min-width: 700px) {
  body .hero .wrapper .logo {
    font-size: 6rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  body .hero .wrapper .logo {
    font-size: 7rem;
    margin: 3rem;
  }
}

body .hero .wrapper .menu-btn,
body .hero .wrapper .order-btn {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  width: 50%;
  margin: 0.5rem;
  border-radius: 5px;
}

@media (min-width: 700px) {
  body .hero .wrapper .menu-btn,
  body .hero .wrapper .order-btn {
    width: 35%;
    margin: 0.75rem;
  }
}

@media (min-width: 1024px) {
  body .hero .wrapper .menu-btn,
  body .hero .wrapper .order-btn {
    width: 30%;
    margin: 1rem;
  }
}

body .hero .wrapper .menu-btn {
  background: #fac564;
  border: 1px solid #fac564;
  color: #000;
}

body .hero .wrapper .order-btn {
  border: 1px solid #fff;
  color: #fff;
}

.cover-login {
  width: 100%;
  margin: 0 auto;
}

.cover-login .container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-image: url("../../UI/images/bg_1.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-login .container-login .wrap-login {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 2rem 7rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 700px) {
  .cover-login .container-login .wrap-login {
    width: 70%;
    padding: 0 5rem 7rem;
  }
}

@media (min-width: 1024px) {
  .cover-login .container-login .wrap-login {
    width: 50%;
    padding: 0 7rem 7rem;
  }
}

.login-form {
  width: 100%;
}

.login-form .login-form-title {
  font-size: 4rem;
  margin: 1rem;
  color: #000;
  text-align: center;
  padding: 3rem 1rem 5rem;
}

@media (min-width: 700px) {
  .login-form .login-form-title {
    font-size: 5rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .login-form .login-form-title {
    font-size: 6rem;
    margin: 0 0 0 3rem;
  }
}

.login-form .input {
  color: #000;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  border-bottom: 2px solid #ebb0b0;
  margin-bottom: 37px;
}

.login-form .login-form-btn {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fac564;
  border: 1px solid #fac564;
  border-radius: 5px;
}

.login-form .text-signup {
  text-align: center;
  padding-top: 10rem;
}

.login-form .text-signup .txt1,
.login-form .text-signup .txt2 {
  color: #000;
  line-height: 1.5;
}

.login-form .text-signup .txt2 {
  text-decoration: none;
  color: brown;
}

.menu-cover {
  width: 100%;
  margin: 0 auto;
}

.menu-cover .menu-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../UI/images/bg_1.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: repeat;
}

.menu-cover .menu-container .menu-title {
  font-size: 3rem;
  margin: 1rem;
  text-align: left;
  padding: 7rem 1rem 5rem;
}

@media (min-width: 700px) {
  .menu-cover .menu-container .menu-title {
    font-size: 4rem;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu-cover .menu-container .menu-title {
    font-size: 4rem;
    margin: 0 0 0 3rem;
  }
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 700px) {
  .menu-wrap {
    margin-left: 3rem;
  }
}

@media (min-width: 1024px) {
  .menu-wrap {
    margin: 0 3rem 0 4rem;
  }
}

.menu-wrap .meal {
  width: 100%;
  height: 35rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 700px) {
  .menu-wrap .meal {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 1024px) {
  .menu-wrap .meal {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.menu-wrap .meal .meal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.menu-wrap .meal .meal-wrap .meal-header {
  font-size: 2.5rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
}

.menu-wrap .meal .meal-wrap .meal-image {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-wrap .meal .meal-wrap .meal-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.meal-1 .meal-image {
  background-image: url("../../UI/images/food_1.jpg");
}

.meal-2 .meal-image {
  background-image: url("../../UI/images/food_2.jpg");
}

.meal-3 .meal-image {
  background-image: url("../../UI/images/food_3.jpg");
}

.meal-4 .meal-image {
  background-image: url("../../UI/images/food_4.jpg");
}

.meal-5 .meal-image {
  background-image: url("../../UI/images/food_5.jpg");
}

.meal-6 .meal-image {
  background-image: url("../../UI/images/food_6.jpg");
}

.checkout-cover {
  color: #000;
  margin-top: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (5)[auto];
      grid-template-rows: repeat(auto 5);
      grid-template-areas: "title" "delivery_info" "food_img" "amount_summary" "payment_info";
}

@media (min-width: 700px) {
  .checkout-cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    -ms-grid-rows: (5)[auto];
        grid-template-rows: repeat(auto, 5);
        grid-template-areas: "title title" "delivery_info delivery_info" "food_img amount_summary" "payment_info payment_info";
  }
}

@media (min-width: 1024px) {
  .checkout-cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 20% 30%;
        grid-template-columns: 30% 20% 30%;
    -ms-grid-rows: (5)[auto];
        grid-template-rows: repeat(auto, 5);
        grid-template-areas: "title title title" "delivery_info delivery_info payment_info" "food_img amount_summary payment_info" "food_img amount_summary payment_info";
  }
}

.checkout-cover .checkout-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.checkout-cover .checkout-delivery-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: delivery_info;
}

.checkout-cover .checkout.food.image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: food_img;
}

.checkout-cover .checkout.food.image .checkout.food.img {
  background-image: url("../../UI/images/food_1.jpg");
  height: 20rem;
}

.checkout-cover .checkout-amount-summary {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: amount_summary;
}

.checkout-cover .checkout-amount-summary span.price {
  float: right;
}

.checkout-cover .checkout-payment-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: payment_info;
}

.checkout-cover .checkout-title,
.checkout-cover .checkout-delivery-info,
.checkout-cover .checkout.food.image,
.checkout-cover .checkout-amount-summary,
.checkout-cover .checkout-payment-info {
  padding: 0 1.6rem;
  margin: 1.6rem 0;
}

.container {
  background-color: #f2f2f2;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container .form .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .form .wrap label {
  margin-bottom: 10px;
  display: block;
}

.container .form .wrap input[type="text"] {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container .form .wrap .btn {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.container .form .wrap .btn:hover {
  background-color: #fac564;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.icon-container .fa.fa-cc-visa {
  color: navy;
}

.icon-container .fa.fa-cc-amex {
  color: blue;
}

.icon-container .fa.fa-cc-mastercard {
  color: red;
}

.icon-container .fa.fa-cc-discover {
  color: orange;
}

.img {
  background-repeat: no-repeat;
}

.order-cover {
  color: #000;
  margin-top: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (5)[auto];
      grid-template-rows: repeat(auto 5);
      grid-template-areas: "food_img" "amount_summary" "payment_info";
}

@media (min-width: 700px) {
  .order-cover {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .order-cover {
    width: 50%;
  }
}

.order-cover .order.food.image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: food_img;
}

.order-cover .order.food.image .order.food.img {
  background-image: url("../../UI/images/food_1.jpg");
  height: 20rem;
}

.order-cover .order-amount-summary {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: amount_summary;
}

.order-cover .order-amount-summary span.price {
  float: right;
}

.order-cover .order-payment-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: payment_info;
}

.order-cover .order.food.image,
.order-cover .order-amount-summary,
.order-cover .order-payment-info {
  padding: 0 1.6rem;
  margin: 1.6rem 0;
}

.confirmation-cover {
  color: #000;
  margin-top: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (5)[auto];
      grid-template-rows: repeat(auto 5);
      grid-template-areas: "title" "food_img" "amount_summary" "delivery_info";
}

@media (min-width: 700px) {
  .confirmation-cover {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .confirmation-cover {
    width: 50%;
  }
}

.confirmation-cover .confirmation-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.confirmation-cover .confirmation.food.image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: food_img;
}

.confirmation-cover .confirmation.food.image .confirmation.food.img {
  background-image: url("../../UI/images/food_1.jpg");
  height: 20rem;
}

.confirmation-cover .confirmation-amount-summary {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: amount_summary;
}

.confirmation-cover .confirmation-amount-summary span.price {
  float: right;
}

.confirmation-cover .confirmation-delivery-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: delivery_info;
}

.confirmation-cover .confirmation-title,
.confirmation-cover .confirmation.food.image,
.confirmation-cover .confirmation-amount-summary,
.confirmation-cover .confirmation-delivery-info {
  padding: 0 1.6rem;
  margin: 1.6rem 0;
}
/*# sourceMappingURL=main.css.map */